

.container{
    border:5px solid purple;
    padding: 5px;
}




.green {
    width: 100px;
    height: 100px;
    background-color: green;
   
}
.yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.red {
    width: 100px;
    height: 100px;
    background-color: red;
}
.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
}
.container{
     display:flex;
    justify-content:space-around;
}